.BackGround{
    background-image: url(bg-image.jpg);
    height: 500 px 200px;

}

.Logo{
    /*background-image: url(logo.png);
    width: 150%;
    background-size: 20 px 20px;*/
    
    overflow: auto;
}

.child{
    display: inline-block;
}

.TopManue{
    float: right;
}