.BackGround{
    background-image: url(bg-image.jpg);
    height: 500 px 200px;

}

.Logo{
    /*background-image: url(logo.png);
    width: 150%;
    background-size: 20 px 20px;*/
    
    overflow: auto;
}

.child{
    display: inline-block;
    color:white;
}

.TopManue{
    float: right;
}

.ContainerLogIn{
    
    border: 50px red;
    margin: auto;
    background-color: #053a26;
    color: white;
    width: 100%;
    padding: 12px 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.country{
 
    margin: auto;
    background-color: transparent;
    color: white;
    width: 100%;
    padding: 12px 5px;
    border: 0px solid #ccc;

    box-sizing: border-box;
}