.BackGround {
  background-image: url(bg-image.jpg);
  height: 1000px;
  width: 100%;
  background-size: cover;
}

.Logo {
  /*background-image: url(logo.png);
    width: 150%;
    background-size: 20 px 20px;*/

  overflow: auto;
}

.child {
  display: inline-block;
  color: white;
}

.TopManue {
  float: right;
}

.ContainerLogIn {
  border: 50px red;
  margin: auto;
  background-color: #053a26;
  color: white;
  width: 100%;
  padding: 12px 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.country {
  margin: auto;
  background-color: transparent;
  color: white;
  width: 100%;
  padding: 12px 5px;
  border: 0px solid #ccc;

  box-sizing: border-box;
}

.enrollContainer {
  border: 50px red;
  /*margin: 50px 900px 50px 320px;*/
  background-color: transparent;
  color: white;
  /*width: 100%;*/
  padding: 12px 30px;
  border: 10px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

  float: right;
}

.AreYouNew {
  border: 50px red;
  /*margin: 0px 600px 50px 720px;*/
  background-color: transparent;
  color: white;
  /*width: 100%;*/
  padding: 12px 30px;
  border: 10px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

  float: left;
}

.parentBox {
  /*overflow: auto;*/
  clear: both;
  display: table;
}
.parentBox .ChildBox {
  /*display: inline-block;*/
  display: flex;
  
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 10px;
  height: 300px; 
}

.botton1{
  width:100%;
  padding:10px 80px;
  background-color: rgb(9, 80, 80);
  border:1px solid white;
  border-radius: 3px;
}

input[type=text]{
  background-color: transparent;
  width: 89%;
  height: 43px;
  border:1px solid white;
  margin: 5px 0px;
  border-radius: 3px;
  
}

#role{
  background-color: transparent;
  width: 90.5%;
  height: 43px;
  border:1px solid white;
  margin: 5px 0px;
  border-radius: 3px;
  color: white;
  
  font-family: Arial, Helvetica, sans-serif;
}

.dateOfBirth{
  
}

#month, #day, #year {
  background-color: transparent;
  
  height: 43px;
  border:1px solid white;
  margin: 5px 0px;
  border-radius: 3px;
  color: white;
}
#month{
  width: 44%;
}
#day{
  width: 21%;
  margin: 0 7px;
}
#year{
  width: 22%;
}

#submit{
  background-color: #c23376;
  width: 90.5%;
  height: 43px;
  border:1px solid white;
  margin: 5px 0px;
  border-radius: 3px;
}

footer{
  margin: 0px;
  background-color: rgb(27, 27, 27);
  text-align: center;
}
.footerlogo{
  /* margin: 15px; */
  padding-top: 15px;
}
.line{
  width:60%;
  text-align:center;
  color: red;
  /*margin-left:0 px;*/
}



.footerDiv1 h3{
      color: rgb(14, 104, 62);
      text-align: left;
      padding-right: 100px;
      /* background-color: red; */
}

.temp{
  /* background-color: red; */
  display: flex;
  margin: 0px 303px;
}
.footerDiv1{
  
}
.temp p{
  text-align: left;
  color: white;
}
.active{
  background-color: white;
}

